
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
@if(ViewBag.projectName != null)
{
    <title>@ViewBag.projectName</title>
}
else
{
    <title>@BaseConfiguration.projectName</title>
}

    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta http-equiv="content-language" content="ru">