@using CG.Domain
@using CG.Domain.Entities
@model List<ApplicationRole>
@{
    Layout = "_Layout_admin";
    ViewData["Title"] = "Роли пользователей";
}
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
@await Html.PartialAsync("BreadcrumbsPartial")
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Роли</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Название</th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>                                        
                                    </tr>  
                                }
                            </tbody>
                        </table>
                        <button id="addRole" type="button" class="btn btn-outline-primary" onclick="AddRoles();"><i class="fa fa-star"></i>&nbsp; Добавить роль</button>
                        <button id="editRole" type="button" class="btn btn-outline-primary"><i class="fa fa-star"></i>&nbsp; Изменить роль</button>
                    </div>
                </div>
            </div>   
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<script>
function AddRoles() {
        window.location.href = '@(Url.Action("AddRoles", "Home", null, System.Configuration.ConfigurationManager.AppSettings["httpschema"]))';
    }
</script>
                             