@{
    var headers = ViewData["Headers"] != null ? (SettingsViewModel)ViewData["Headers"] : new SettingsViewModel();
    ViewBag.Title = headers.settingsHeaders.TryGetValue("HeaderFAQ", out string HeaderFAQ) ? HeaderFAQ : ""; ;
    ViewBag.Description = headers.settingsHeaders.TryGetValue("DescriptionFAQ", out string DescriptionFAQ) ? DescriptionFAQ : "";
}
<main class="main">
    @await Html.PartialAsync("PageTitle")
    
    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>@(headers.settingsHeaders.TryGetValue("TitleFAQ", out string TitleFAQ) ? TitleFAQ : "");</h2>
            <p>Как начать играть на ChessGood?<br></p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <p>Ответ</p>
            <p>Очень просто<br></p>
        </div>

    </section><!-- /Starter Section Section -->

</main>
@await Html.PartialAsync("LandingFooterPartial")
