@using CG.Domain.Entities

@{
    var headers = ViewData["Headers"] != null ? (SettingsViewModel)ViewData["Headers"] : new SettingsViewModel();
    ViewBag.Title = headers.settingsHeaders.TryGetValue("TitleTactics", out string TitleTactics) ? TitleTactics : "";
    ViewBag.Description = headers.settingsHeaders.TryGetValue("DescriptionTactics", out string DescriptionTactics) ? DescriptionTactics : "";
}
<main class="main">
    @await Html.PartialAsync("PageTitle")

    <!-- Courses Course Details Section -->
    <section id="tactical_techniques" class="tactical_techniques section">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/tactic.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Тактические приемы</h3>
                    <p>
                        Изучение и практика шахматных тактик - лучшее, что можно посоветовать начинающему играть в шахматы для улучшения навыков. Как сказал великий немецкий шахматист Рихард Тейхман: «Шахматы на 99% состоят из тактики» - более точного утверждения для большинства игроков сложно придумать.
                        Тактика - это то, что нужно искать, и к чему нужно стремиться на каждом ходу. Тактика являются решающим элементом почти во всех играх ниже уровня гроссмейстера. Шахматная тактика - это защитник и содействующая сторона стратегии.
                        Ниже приводятся разные шахматные тактические приемы.
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Вилка</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Связка</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Линейный удар</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Открытое нападение и открытый шах</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Уничтожение защиты</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Перегрузка</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Отвлечение</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Завлечение</span></li>
                        </ul>
                    </p>
                    <h3>Комбинация</h3>
                    <p>Важнейший элемент тактики шахматной игры — комбинация, которая нередко связана с жертвой, что делает её особенно привлекательной с эстетической точки зрения.</p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Шахматная тактика — совокупность приёмов и способов выполнения отдельных шахматных операций, входящих в стратегический план и его завершающих.
                        Роль тактики в шахматной игре исключительно велика: грубая ошибка или тактический просчёт могут повлечь за собой немедленный проигрыш партии. При вступлении сил соперников в непосредственный контакт, когда фигуры сторон нападают или угрожают напасть друг на друга, на шахматной доске возникает тактическая ситуация. В тактических операциях фигуры взаимодействуют друг с другом, при этом большую роль играет согласованное действие фигур одной стороны против другой

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Вилка</h5>
                            <p><a href="#"></a></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Связка</h5>
                            <p></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Двойной удар</h5>
                            <p></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Вскрытое нападение</h5>
                            <p></p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Открытый шах </h5>
                            <p></p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Завлечение</h5>
                        </div>
                        <div class="about">
                            <div class="content">
                                <a class="read-more" href=""><span>Узнать больше</span><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </p>

                </div>
            </div>

        </div>

    </section><!-- /Courses Course Details Section -->
</main>
@await Html.PartialAsync("LandingFooterPartial")