@using CG.Domain.Entities

@{
    var headers = ViewData["Headers"] != null ? (SettingsViewModel)ViewData["Headers"] : new SettingsViewModel();
    ViewBag.Title = headers.settingsHeaders.TryGetValue("TitleChampions", out string TitleChampions) ? TitleChampions : "";
    ViewBag.Description = headers.settingsHeaders.TryGetValue("DescriptionChampions", out string DescriptionChampions) ? DescriptionChampions : "";
}
<main class="main">
    @await Html.PartialAsync("PageTitle")

    <!-- Courses Course Details Section -->
    <section id="world_champions" class="world_champions section">

        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions1.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Вильгельм Стейниц</h3>
                    <h4>Годы чемпионства: 1886—1894</h4>
                    <p>
                        Вильгельм Стейниц (1836-1900)— австрийский и американский шахматист, ставший первым чемпионом мира. Автор нового для своего времени учения о позиционной игре, сменившей ранее доминировавшие идеи «романтической» школы.
                    </p>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions2.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Эмануэль Ласкер</h3>
                    <h4>Годы чемпионства: 1894—1921</h4>
                    <p>
                        Эмануэль Ласкер (1868-1941)— выдающийся немецкий шахматист, II чемпион мира, носивший титул в течение 26 лет 337 дней. Он обладал очень тонким позиционным чутьем и прекрасно играл в эндшпиле. Параллельно с шахматами всерьез занимался математикой и философией, неоднократно прерывая выступления ради работы. Автор ряда литературных произведений, научных статей и публикаций по философии. Ласкер стал образцом удивительного шахматного долголетия, играя на высоком уровне до 68 лет.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions3.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Хосе Рауль Капабланка</h3>
                    <h4>Годы чемпионства: 1886—1894</h4>
                    <p>
                        Хосе Рауль Капабланка-и-Граупера (1888-1942)—выдающийся кубинский шахматист, третий чемпион мира, доминировавший в 1910-1930-е годы. Его прозвали «шахматным автоматом» за непревзойденное умение играть как в середине, так и в концовке партии. На протяжении восьми лет, с 1916 по 1924 год, Хосе Рауль не уступил ни в одной партии. Известен своей феноменальной интуицией, позволявшей одерживать блестящие победы без фундаментальной теоретической подготовки.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions4.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Александр Алехин</h3>
                    <h4>Годы чемпионства: 1921—1927</h4>
                    <p>
                        Александр Александрович Алехин (1892-1946)—выдающийся российский и французский шахматист, первый победитель первенства РСФСР, IV чемпион мира, широко известный атакующим и глубоким комбинационным стилем игры. Был непревзойденным мастером игры вслепую, многократно обновляя собственные достижения, лучшее из которых сеанс на 32 досках.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions5.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Макс Эйве</h3>
                    <h4>Годы чемпионства: 1935—1937</h4>
                    <p>
                        Макс (Махгилис) Эйве (1901-1981)— выдающийся голландский шахматист и математик, V чемпион мира, экс-президент ФИДЕ. В шахматном мире прославился как прекрасный знаток дебютной теории и непревзойденный тактик.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions6.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Михаил Ботвинник</h3>
                    <h4>Годы чемпионства: 1948—1957, 1958—1960, 1961—1963</h4>
                    <p>
                        Михаил Моисеевич Ботвинник (1911-1995) — известнейший советский и российский шахматист, VI чемпион мира, в течение 15 лет (с перерывом) удерживавший за собой это звание. Первый советский обладатель мировой короны и шестикратный чемпион СССР. Ученый, доктор технических наук, заведующий сектором Института электроэнергетики, автор многочисленных изобретений, запатентованных во многих странах мира.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions7.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Василий Смыслов</h3>
                    <h4>Годы чемпионства: 1957—1958</h4>
                    <p>
                        Василий Васильевич Смыслов (1921-2010) — известный советский и российский шахматист, VII чемпион мира, крупный шахматный теоретик. Пятикратный победитель первенств Европы и девятикратный чемпион шахматных олимпиад в составе советской сборной.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions8.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Михаил Таль</h3>
                    <h4>Годы чемпионства: 1960—1961</h4>
                    <p>
                        Михаил Нехемьевич Таль (1936-1992) — выдающийся советский и латвийский шахматист, VIII чемпион мира по шахматам, шестикратный чемпион Советского союза, многократный победитель шахматных олимпиад в составе сборной СССР, шестикратный чемпион Европы. В течение 10 лет возглавлял журнал «Шахматы».
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions9.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Тигран Петросян</h3>
                    <h4>Годы чемпионства: 1963—1969</h4>
                    <p>
                        Тигран Петросян (1929-1984) — легендарный советский шахматист армянского происхождения, международный гроссмейстер, IX чемпион мира, четырехкратный победитель первенств СССР. Известный шахматный теоретик и журналист, создатель и первый главный редактор еженедельника «64». Кандидат философских наук.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions10.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Борис Спасский</h3>
                    <h4>Годы чемпионства: 1969—1972</h4>
                    <p>
                        Борис Спасский  — известный советско-французский шахматист, десятый чемпион мира, неоднократный чемпион СССР, участник десяти шахматных олимпиад в составе сборных Советского Союза и Франции. Заслуженный мастер спорта СССР.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions11.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Роберт (Бобби) Фишер</h3>
                    <h4>Годы чемпионства: 1972—1975</h4>
                    <p>
                        Роберт Джейн Фишер (Бобби Фишер, 1943-2008) — выдающийся американский шахматист, 11-й чемпион мира, неоднократно признававшийся лучшим шахматистом прошлого века.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions12.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Анатолий Карпов</h3>
                    <h4>Годы чемпионства: 1975—1985</h4>
                    <p>
                        Анатолий Карпов  — один из величайших шахматистов современности, оставивший яркий след в любимой игре миллионов. Став символом побед и достижений советской системы, он не затерялся и в современных российских реалиях, активно проявив себя в общественной и политической жизни.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions13.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Гарри Каспаров</h3>
                    <h4>Годы чемпионства: 1985—1993</h4>
                    <p>
                        Гарри Каспаров — человек, навсегда вписавший себя в мировую историю шахмат, 13-й чемпион мира. Как только его только не величали: «компьютер с душой», «великий и ужасный», «разрушитель» , «большевик». Такие разные прозвища свидетельствуют о ярчайшем характере личности Каспарова, который помимо шахмат хорошо известен и в других областях жизни.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions14.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Владимир Крамник</h3>
                    <h4>Годы чемпионства: 2006—2007</h4>
                    <p>
                        Владимир Крамник — человек, который в шахматах достиг невероятных высот, от которых захватывает дух. Чего стоит один только титул 14 чемпиона мира, к которому он добавил множество командных достижений высшей пробы и личных побед в супертурнирах.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions15.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Вишванатан Ананд</h3>
                    <h4>Годы чемпионства: 2007—2013</h4>
                    <p>
                        Вишванатан (Виши) Ананд — родился  11 декабря 1969, Мадрас (ныне Ченнай), Индия. Индийский гроссмейстер, который выиграл чемпионат мира по шахматам в 2000 , 2007, 2008, 2010, и 2012 году.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions16.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Магнус Карлсен</h3>
                    <h4>Годы чемпионства: 2013—2023</h4>
                    <p>
                        Магнус Карлсен (Свен Магнус Карлсен ), норвежский гроссмейстер, родился 30 ноября 1990 года  (Тёнсберг, губерния Вестфолл, Норвегия) в данный момент проживает близ Осло.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions17.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Дин Лижэнь</h3>
                    <h4>Годы чемпионства: 2023—2024</h4>
                    <p>
                        Дин Лижэнь (кит. упр. 丁立人, пиньинь: Dīng Lìrén; 24 октября 1992, Вэньчжоу) — китайский шахматист, гроссмейстер (2009). Чемпион мира ФИДЕ по шахматам (2023). Играет в шахматы с четырёх лет.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <img src="~/assets/assets/img/world_champions18.jpg" class="img-fluid" style="min-height:300px" alt="">

                    <h3>Гукеш Доммараджу</h3>
                    <h4>Годы чемпионства: 2024—наше время</h4>
                    <p>
                        Гукеш Доммараджу (там. குகேஷ்; род. 29 мая 2006, Ченнаи) — индийский шахматист, гроссмейстер (2019). На 2019 год самый молодой гроссмейстер Индии и третий в списке самых молодых гроссмейстеров в мире, отставая от Сергея Карякина всего на месяц.
                    </p>
                </div>
            </div>
        </div>

    </section><!-- /Courses Course Details Section -->
</main>
@await Html.PartialAsync("LandingFooterPartial")