@using System.Globalization
@using CG.Models
@{
    var culture = CultureInfo.CurrentCulture;
}
<main style="min-height: 100vh;
  margin: 0;">
    <div class="page-title aos-init aos-animate" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3>Ваш пароль сброшен.</h3>                       
                        <p class="mb-0">  Для входа в приложение перейдите по <a asp-action="Login" asp-route-returnUrl="@ViewBag.returnUrl" style="color:red">ссылке</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>