@using System.Globalization
@using CG.Models
@{
    var culture = CultureInfo.CurrentCulture;
}
@model RegisterViewModel
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="/@culture.Name.ToString()">
                    @* <img class="align-content" src="images/logo.png" alt=""> *@
                    <h1>ChessGood</h1>
                </a>
            </div>
            <div class="login-form">                
                <form asp-area="" asp-controller="Account" asp-action="Register" method="POST">
                    <div class="form-group">
                        <label asp-for="UserName">Логин</label>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="Логин">
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
                    </div>
                    <div class="checkbox">
                       <label asp-for="IsApproval">
                                <input asp-for="IsApproval" type="checkbox">Согласны на обработку персональных данных                            
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Регистрация</button>                    
                    <div class="register-link m-t-15 text-center">
                        <p>Уже есть аккаунт? <a href="~/@culture.Name.ToString()/account/login"> Войти</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>